<div class="container">
  <div class="row">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2 class="center-text">New User</h2>
      <%= form_for @user do |f| %>
        <br /><%= f.label :name %>
        <br>
        <%= f.text_field :name, class: "form-width"%>
      <br>
        <br /><%= f.label :username %>
        <br>
        <%= f.text_field :username, class: "form-width" %>
      <br>
        <br /><%= f.label :email %>
        <br>
        <%= f.text_field :email, class: "form-width" %>
      <br>
        <br /><%= f.label :Password %>
        <br>
        <%= f.password_field :password, class: "form-width" %>
      <br>
        <br /><%= f.label :Password_Confirmation %>
        <br>
        <%= f.password_field :password_confirmation, class: "form-width" %>
      <br>
      <br>
        <%= f.submit "Sign Up" %>
      <% end %>
    </div>
  </div>
</div>
