<%= form_for @post do |f| %>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :tag_type_id %><br />
    <%= f.collection_select :tag_type_id, TagType.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :tag_id, "State or Province" %><br />
    <%= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, include_blank: true %>
  </div>

  <div class="actions"><%= f.submit %></div>

<% end %>
