<h3>New Post</h3>
<%= form_for @post do |f| %>

  <div>
    <%= f.label :image, "Upload Image:"%>
    <%= f.file_field :image %>
  </div>
  <br>
  <div>
      <h3>Add Tags</h3>
      <!-- <h4>Choose a Type</h4> -->

      <p>
        <%= f.label :tags %><br />
        <% for tag in Tag.all %>
          <%= check_box_tag "post[tag_ids][]", tag.id, @post.tags.include?(tag) %>
          <%=h tag.name %><br />
        <% end %>
      </p>

  </div>


  <br><br>


  <%= f.submit "Upload Post" %>
<% end %>
